@import "base/normalize.css";
@lost flexbox flex;

body {
  background: #ebebeb;
}

.main {
  lost-utility: clearfix;
  lost-center: 1200px;
}
.col {
  lost-column: 1/3;
  @media (max-width: 600px) {
    lost-column: 1;
  }
}
