extends ../blocks/layout/layout
block append head
  +styles('css/styles.css')
block title
  title FCC
block content
  .main
    .quote
    .buttons_wrapper
      button.button.button--quote Next Quote
      a.button.button--tweet(href="https://twitter.com/intent/tweet?button_hashtag=famous_quote" data-related="sz47181" target="_blank") Tweet
  script(src="js/quote.js")
