extends ../blocks/layout/layout
block append head
  +styles('css/styles.css')
block title
  title My title
block content
  .main
    .col
      h1 PostCss Template !!!
    .col
      h1 PostCss Template !!!
    .col
      h1 PostCss Template !!!
  script(src="js/app.js")
